* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: .85rem;
}

header {
    background: rgb(255, 102, 2);
    padding: 1px;
}

#main {
    display: flex;
}

header p {
    padding-top: 3px;
}

header div p {
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: black;
}

p a:hover {
    color: white;
}

#right {
    padding-left: 560px;
}

section {
    background: rgb(246, 246, 239);
    margin: 5px auto 0;
    width: 85%;
}

section ol {
    margin: 3px 0 0 30px;
}

section li {
    color: grey;
    margin: .5rem 0;
}

section li div {
    color: black;
}

#more {
    margin: 15px 0 10px 30px;
}

footer {
    border-top: 2px solid rgb(255, 102, 2);
    text-align: center;
}

.small {
    font-size: 11px;
}

.smaller {
    font-size: .7rem;
}

.gray {
    color: rgb(137, 137, 137);
}

#logo {
    border: 1px solid white;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 1rem;
    padding-top: 2.5px;
    margin-right: .3rem;
    color: white;
    font-weight: bold;
}

label {
    display: inline-block;
    font-size: 14px;
}

footer {
    padding: 1.25rem;
}

footer nav {
    margin: 5px 0;
}

footer label {
    margin: 15px 0;
}

.triangle {
    margin-right: 1.5px;
    color: rgb(153, 153, 153);
}

.title-container p {
    display: inline-block;
}